# Quick look at the skills
A question asked the participants which three skills they think it is important for to acquire or to improve as Research Software Engineers. Specifically the questions were a free text field. In some case we asked three separated questions while in other case the questions directly asked for the three skills directly in one question. 

1. United-Kingdom:
    * What skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical.
    * What skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical
    * What skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical. 
  
2. United-States of America, Germany and South Africa:
    * What three skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical.

The following code just try to see if the word security was mentionned in these freetext field.

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np
from include.textCleaning import wordcloud
from include import sankey

from IPython.display import display
from IPython.display import HTML
import IPython.core.display as di

pd.options.display.max_rows=50

In [2]:
# Option for jupyter notebook
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)

# Load datasets

In [3]:
# Load the data
list_countries = ['uk', 'us', 'zaf', 'de']
dict_df = dict()
for country in list_countries:
    dict_df[country] = pd.read_csv('./data/cleaned_{}.csv'.format(country))

# Print the total of participants
    print('The total participants in this dataset for {}: {}'.format(country, len(dict_df[country])))

The total participants in this dataset for uk: 253
The total participants in this dataset for us: 164
The total participants in this dataset for zaf: 22
The total participants in this dataset for de: 325

## Finding security in the type of skills needed

In [4]:
# Getting the columns with the answers about the skills needed to be a RSE
col_skills = ["skill2[SQ001]. What skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical. [Skill 1]",
                "skill2[SQ2]. What skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical. [Skill 2]",
                "skill2[SQ3]. What skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical. [Skill 3]"]
alt_skills = ['skill2. What three skills would you like to acquire or improve to help your work as a Research Software Engineer? The skills can be technical and non-technical.']

countries = list()
for country in dict_df:
    df = dict_df[country].fillna('')
    try:
        # Merge the three column of skills into one column
        dict_df[country]['skill'] = df[col_skills].apply(lambda x: ', '.join(x.dropna().astype(str).values), axis=1)
        dict_df[country] = dict_df[country][['socio1. In which country do you work?', 'skill']]
    except KeyError:
            try:
                dict_df[country]['skill'] = df[alt_skills]
            except KeyError:
                print(country)
    countries.append(dict_df[country][['socio1. In which country do you work?', 'skill']])

df_all = pd.concat(countries)

In [5]:
# Some cleaning of the columns
def transform_word_into_list(string):
    try:
        string = string.replace('/', ' ').replace(';', ' ').replace('(', ' ').replace(')', ' ').replace(',', ' ').strip().lower()# for i in string]
    except (TypeError, IndexError, AttributeError):
        pass
    return string

df_all['skill'] = df_all['skill'].apply(lambda x: transform_word_into_list(x))

In [6]:
# Output all the row that contain the term security
df_all[df_all['skill'].str.contains('security')]

,socio1. In which country do you work?,skill
28,United States,machine learning scientific programming secu...
61,United States,advanced database design advanced html js css...
129,United States,hpc training intensive javascript training c...
11,South Africa,managing security
11,Germany,networking studien umfragen gezielt entwerfen...
33,Germany,security-by-design
146,Germany,web security